<!-- CONTENT'S HTML BEGIN -->

  <div class="cd-main-content col-md-12" style="padding:0px !important">
    <!-- Start container -->
    
    <div id="content" class="cd-fixed-bg cd-bg-1">
      <h1>Welcome to Fast-Movies!</h1>
    </div>
    <!-- Movies' section -->
    <section id="movies">
      <div class="cd-scrolling-bg cd-color-2">
        <div class="cd-container">
          <app-movies></app-movies>
        </div>
      </div>
    </section>
    <!-- Background's container 1 -->
    <div class="cd-fixed-bg cd-bg-2">
      <h2>Here authors</h2>
    </div>
    <!-- People's section -->
    <section id="people">
      <div class="cd-scrolling-bg cd-color-3">
        <div class="cd-container">
          <app-people></app-people>
        </div>
      </div>
    </section>
    <!-- Background's container 2 -->
    <div class="cd-fixed-bg cd-bg-3">
      <h2>HERE TV SHOWS</h2>
    </div>
    <!-- TV shows' section -->
    <section id="tv">
      <div class="cd-scrolling-bg cd-color-1">
        <div class="cd-container">
          <app-tv></app-tv>
        </div>
      </div>
    </section>
    <!-- Background's container 3 -->
    <div class="cd-fixed-bg cd-bg-4">
      <h2>Don't forget to give us your support!</h2>
    </div>
  </div>

<!-- CONTENT'S HTML END -->
