
<div class="cd-main-content col-md-12"style="padding:0px !important">
		<div class="cd-fixed-bg cd-bg-1">
			<h1>Welcome to Fast-Movies!</h1>
		</div> <!-- cd-fixed-bg -->
		<section id="movies">
			<div class="cd-scrolling-bg cd-color-2">
				<div class="cd-container">
				<app-movies></app-movies>
				</div> <!-- cd-container -->
			</div> <!-- cd-scrolling-bg -->
		</section>
		<div class="cd-fixed-bg cd-bg-2">
			<h2>Here authors</h2>
		</div> <!-- cd-fixed-bg -->

		<div class="cd-scrolling-bg cd-color-3">
			<div class="cd-container">
			 <p>More</p>
			</div> <!-- cd-container -->
		</div> <!-- cd-scrolling-bg -->

		<div class="cd-fixed-bg cd-bg-3">
			<h2>Trailers</h2>
		</div> <!-- cd-fixed-bg -->

		<div class="cd-scrolling-bg cd-color-1">
			<div class="cd-container">
				<p>
					Originally I tried implementing just the code snippets they show on the site but that totally did not work. Finally I downloaded the source and realized that there was so much more to it than just the bit they showed on the blog page. So we continue to learn.
				</p>
			</div> <!-- cd-container -->
		</div> <!-- cd-scrolling-bg -->

		<div class="cd-fixed-bg cd-bg-4">
			<h2>Last shot is a knee dragger!</h2>
		</div> <!-- cd-fixed-bg -->
	</div> <!-- cd-main-content -->

