.logo-tmdb{
    margin:28px 3% 0;
}

header{
    height: 90px;
    line-height: 38px;
    background-color: #000000;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.5;
    /*Opacity end*/
    position: fixed;
     z-index: 9999;
    top: 0px;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -90px;
}

.main-menu {
    margin-top: 28px;
    margin-right: 10px;
}
