
<div class="cd-main-content">
		<div class="cd-fixed-bg cd-bg-1">
		  
		   <h1>Welcome to the next generation movie App</h1>
		</div> <!-- cd-fixed-bg -->

		<div class="cd-scrolling-bg cd-color-2">
			<div class="cd-container">
				<p>Movie Genres</p>
          <p> Here we will search the movies: </p>
			</div> <!-- cd-container -->
		</div> <!-- cd-scrolling-bg -->

		<div class="cd-fixed-bg cd-bg-2">
			<h2>Subtitle...</h2>
		</div> <!-- cd-fixed-bg -->

		<div class="cd-scrolling-bg cd-color-3">
			<div class="cd-container">
			  <p>Here we will search authors</p>
			</div> <!-- cd-container -->
		</div> <!-- cd-scrolling-bg -->

		<div class="cd-fixed-bg cd-bg-3">
			<h2>Subtitle2...</h2>
		</div> <!-- cd-fixed-bg -->

		<div class="cd-scrolling-bg cd-color-1">
			<div class="cd-container">
				<p> Here we will search ...</p>
			</div> <!-- cd-container -->
		</div> <!-- cd-scrolling-bg -->

		<div class="cd-fixed-bg cd-bg-4">
			<h2>Please be back!</h2>
		</div> <!-- cd-fixed-bg -->
		<div class="spinner" ng-show="enable" align="middle"><img src="css/imgs/loading2.gif"></div>
      <movie-stars ng-model="view.movies" />
	</div> <!-- cd-main-content -->
