<!-- MOVIE'S HTML BEGIN -->
<div class="col-xs-12">
  <!-- Popular movies -->
  <div *ngIf="showMovies">
    <div class="col-xs-3" *ngFor="let movie of movies " (click)="onSelect(movie.id)" style="padding:0px !important">
      <a title="{{ movie.title }}" ng-if="movie.poster_path">
            <img id="img-list" src="{{getImgUrl(movie.poster_path)}}" alt="Poster of movie: {{movie.original_title}}" width="160px" height="240px" />
      </a>
      <p>
    </div>
    
  </div>
  <!-- Movie's detail -->
  <div *ngIf="showMovieDetail">
    <app-movie-detail [IdMovie]="movieID"></app-movie-detail>
  </div>
  <!-- Movie's detail searched -->
  <div *ngIf="showMovieDetailSearched">
    <app-movie-detail [IdMovie]="movieIDsearch"></app-movie-detail>
  </div>
</div>

<!-- MOVIE'S HTML END -->
